---
---

/* Our base color schemes (dark and light) */

:root{
    /* Default fonts */
    

    /* THEME - DEFAULT */
    /* Colors */
    --text-color: #000;
    --text-accent-color: #555;
    --background-color: #ddd;
    --background-accent-color: #aaa;
    --border-color:#aaa;
    --background-image: None;
    /* Fonts */
    --text-font: Arial, Helvetica, sans-serif;
    --header-font: "Courier New", Courier, monospace;

    /* THEME - DARK */
    --text-color-dark: #ddd;
    --text-accent-color-dark: #888;
    --background-color-dark: #000;
    --background-accent-color-dark: #555;
    --border-color-dark:#555;

    /* THEME - LIGHT */
    --text-color-light: #000;
    --text-accent-color-light: #555;
    --background-color-light: #fff;
    --background-accent-color-light: #aaa;
    --border-color-light:#aaa;

    /* Other themes should be set like:

    :root[data-theme=theme_name] {
        --text-color: ###;
        --text-accent-color: ###;
        --background-color: ###;
        --background-accent-color: ###;
        --border-color: ###;
        --background-image: None;
        --text-font: Arial, Helvetica, sans-serif;
        --header-font: "Courier New", Courier, monospace;
    }
    */
}

/* Transition stuff */
@import 'transitions';

html{
    max-width: 100vw;
}
body{
    min-height: 100vh;
    position:relative;
    background: var(--background-color);
    color: var(--text-color);
    margin: 0; padding: 0;
    font-family: var(--text-font);
}
html, body{overflow-x:hidden}

h1,h2,h3,h4,h5{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-family: var(--header-font);
    margin:{
        left:5%;
        right:5%;
        bottom:0px;
    }
    max-width:700px;
}

main{
    margin:{
        top:75px;
        bottom:75px;
    }
}

div{
    display:block;
}

p {
    animation:0.5s ease-out 0s 1 fadeInAndUp;
    text-align: justify;
    line-height:1.5;
    padding:20px;
    margin:{
        bottom:60px;
        left:5%;
        right:5%;
    }
    max-width:700px;
}

.par_form {
    animation:0.5s ease-out 0s 1 fadeInAndUp;
    text-align: justify;
    line-height:1.5;
    padding:20px;
    margin:{
        bottom:60px;
        left:5%;
        right:5%;
    }
    max-width:700px;
}

/* Default buttons */
button{
    background:var(--background-accent-color);
    color:var(--text-color);
    border-style:solid;
    border-radius: 3px;
    border-width: 1px;
    border-color:var(--border-color);
}
button:hover{
    border-style:dotted;
}

select{
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 3px;
    border-color: var(--background-accent-color);
}

a{color: var(--text-color);text-decoration:none;}
main a{text-decoration:underline;border-radius:3px;padding:2px}
main a:hover{background:var(--background-accent-color);}

/* Fit image height to parent container by default */
img{
    height:100%;
    width:auto;
}

input{
    padding:0;
    margin:0;
    background-color:var(--background-color);
    border-style:dotted;
    border-color:var(--border-color);
    width:100%;
    color:var(--text-color);
}

/* Some useful classes */
/* Hide scrollbar for IE, Edge and Firefox */
.hide_scrollbar{-ms-overflow-style: none;scrollbar-width: none;}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide_scrollbar::-webkit-scrollbar {display: none;}

/*https://stackoverflow.com/questions/23989463/how-to-set-tbody-height-with-overflow-scroll/23989771*/
.scroll_table tbody {
    display:block;
    height:100px;
    overflow-y:scroll;
}
.scroll_table tr{
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
.scroll_table{position:relative;}
.scroll_table.shim{
    display:block;
    width:100%;
    height:attr(data-shim-size);
}
.scroll_table::after{
    display:block;
    content: ""; 
    position: absolute;
    top:80%;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom,transparent ,var(--background-color));
}


//@cite https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/
.tooltip{
    position:relative;
    text-decoration:underline;
}
.tooltip::after{
    display:block;
    position:absolute;
    left:50%;
    min-width:125px;
    content:attr(data-tooltip-text);
    background-color:var(--background-accent-color);
    color:var(--text-color);
    padding:5px;
    border:{
        color:var(--border-color);
        radius:3px;
        size:1px;
        style:dashed;
    };
    opacity:0%;
    transition-duration:0.25s;
}
.tooltip:hover::after{opacity:100%;z-index:10;}


/* navbar config */ 
@import 'navbar';

/* footer config */
@import 'footer';

/* User settings */
@import 'theming';

/* formatting of posts */
@import 'post_container';
@import 'posts';

