---
---

/* Our base color schemes (dark and light) */

:root{
    /* Default fonts */
    

    /* THEME - DEFAULT */
    /* Colors */
    --text-color: #000;
    --text-accent-color: #555;
    --background-color: #ddd;
    --background-accent-color: #aaa;
    --border-color:#aaa;
    --background-image: None;
    /* Fonts */
    --text-font: Arial, Helvetica, sans-serif;
    --header-font: "Courier New", Courier, monospace;

    /* THEME - DARK */
    --text-color-dark: #ddd;
    --text-accent-color-dark: #888;
    --background-color-dark: #000;
    --background-accent-color-dark: #555;
    --border-color-dark:#555;

    /* THEME - LIGHT */
    --text-color-light: #000;
    --text-accent-color-light: #555;
    --background-color-light: #fff;
    --background-accent-color-light: #aaa;
    --border-color-light:#aaa;

    /* Other themes should be set like:

    :root[data-theme=theme_name] {
        --text-color: ###;
        --text-accent-color: ###;
        --background-color: ###;
        --background-accent-color: ###;
        --border-color: ###;
        --background-image: None;
        --text-font: Arial, Helvetica, sans-serif;
        --header-font: "Courier New", Courier, monospace;
    }
    */
}

/* Preferred Media color mode */
@media (prefers-color-scheme:dark) {
    :root{
        --text-color:var(--text-color-dark);
        --text-accent-color: var(--text-accent-color-dark);
        --background-color: var(--background-color-dark);
        --background-accent-color: var(--background-accent-color-dark);
        --border-color: var(--border-color-dark);
        --background-image: None;
    }
}

@media (prefers-color-scheme:light) {
    :root{
        --text-color:var(--text-color-light);
        --text-accent-color: var(--text-accent-color-light);
        --background-color: var(--background-color-light);
        --background-accent-color: var(--background-accent-color-light);
        --border-color: var(--border-color-light);
        --background-image: None;
    }
}

/* Here we have themes for overriding */
:root[data-theme='dark'] {
    --text-color:var(--text-color-dark);
    --text-accent-color: var(--text-accent-color-dark);
    --background-color: var(--background-color-dark);
    --background-accent-color: var(--background-accent-color-dark);
    --border-color: var(--border-color-dark);
  }

:root[data-theme='light'] {
    --text-color:var(--text-color-light);
    --text-accent-color: var(--text-accent-color-light);
    --background-color: var(--background-color-light);
    --background-accent-color: var(--background-accent-color-light);
    --border-color: var(--border-color-light);
}

:root[data-theme='matrix'] {
    --text-color:#00ff00;
    --text-accent-color: #009b00;
    --background-color: #000000;
    --background-accent-color: #030303;
    --border-color: #000099;
}

:root[data-theme='contrast'] {
    --text-color:#fff;
    --text-accent-color: #fae291;
    --background-color: #030303;
    --background-accent-color: #030303;
    --border-color: #5ecace;
}

html{
    max-width: 100vw;
}
body{
    min-height: 100vh;
    position:relative;
    background: var(--background-color);
    color: var(--text-color);
    margin: 0; padding: 0;
    font-family: var(--text-font);
}
html, body{overflow-x:hidden}

/*https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load*/
@keyframes slideInFromLeft {
    0% {transform: translateX(-100%);opacity:0}
    100% {transform: translateX(0);opcaity:100%}
}
h1,h2,h3,h4,h5{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-family: var(--header-font);
    margin:{
        left:5%;
        right:5%;
    }
    max-width:700px;
}

main{
    margin:{
        top:75px;
        bottom:75px;
    }
}

div{
    display:block;
}

@keyframes fadeInAndUp {
    0% {transform: translateY(50px); opacity:0}
    100% {transform: translateY(0); opacity:100%}
}
p {
    animation:0.5s ease-out 0s 1 fadeInAndUp;
    text-align: justify;
    line-height:1.5;
    padding:20px;
    margin:{
        bottom:75px;
        left:5%;
        right:5%;
    }
    max-width:700px;
}

/* Default buttons */
button{
    background:var(--background-accent-color);
    color:var(--text-color);
    border-style:solid;
    border-radius: 3px;
    border-width: 1px;
    border-color:var(--border-color);
}
button:hover{
    border-style:dotted;
}

select{
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 3px;
    border-color: var(--background-accent-color);
}

a{color: var(--text-color);text-decoration:none;}
main a{text-decoration:underline;border-radius:3px;padding:2px}
main a:hover{background:var(--background-accent-color);}

/* Fit image height to parent container by default */
img{
    height:100%;
    width:auto;
}

input{
    padding:0;
    margin:0;
    background-color:var(--background-color);
    border-style:dotted;
    border-color:var(--border-color);
    width:100%;
    color:var(--text-color);
}


/* navbar config */ 
@import 'navbar';

/* footer config */
@import 'footer';

/* formatting of posts */
@import 'post_container'

