---
---
/*********************/
/* Header definition */
/*********************/
/* Navbar parent div */
#common_navbar{
    width: 100%;
    height:60px;
    position:relative;
    background: var(--background-accent-color);
    box-shadow:0 0 15px 2px var(--background-accent-color);
    border-color:var(--border-color);
    border-bottom-style:solid;
}
/* Navbar setup */
#common_navbar_container{
    display: flex;
    height:100%;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto 20px;
    flex-direction: row;
}
/* Navbar Burger Setup. */
/* we use important to overwrite SVG styles */
#common_navbar_burger{
    background: var(--background-accent-color); 
    border-color: var(--text-accent-color);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    transition: 0.25s ease-out;
}
#common_navbar_burger:hover{border-style:dotted;}
.common-navbar-burger-open{height:0;width:0;padding:0;opacity:0;transition-delay:0;}
.common-navbar-burger-closed{height:42px;width:42px;padding:5px;opacity:100%;transition-delay:1s;}
#common_navbar_burger svg{width: 30px !important;height: 100% !important;}
#common_navbar_burger g{stroke:var(--text-color) !important;}

#common_navbar_links{
    color:var(--text-color);
    background:var(--background-accent-color);
    align-self:stretch;
    position:absolute;
    top:0;
    height:auto;
    transition:0.5s ease-out;
}
.common-navbar-links-closed{transform:translateY(-150vw);}
.common-navbar-links-open{transform:translateY(0);}
#common_navbar_links ul{
    height:100%;
    padding:0;
    margin:0;
    position:relative;
    left:0;
}
#common_navbar_links li{
    height:50px;
    width:100vw;
    display:block;
    left:0;
    align-items:center;
    background-color:var(--background-accent-color);
    border:{
        width:0 2px 2px 2px;
        color:var(--border-color);
        style:solid;
    }
}

@media (min-width: 500px){ // Non-mobile
    #common_navbar_links li{
        height:100%;
        display:inline-block;
        width: 75px;
        background:none;
    }
    #common_navbar_links ul{height:100%;}
    #common_navbar_links{height:100%;}
    .common-navbar-links-closed{transform:translateX(-100vw);transition-delay:0.25s;}
    .common-navbar-links-open{transform:translateX(0);transition-delay:0;}
}

.common-navbar-link{
    display:inline-flex;
    align-items:center;
    justify-content: center;
    height:100%;
    width:100%;
    color: var(--text-color);
}
.common-navbar-link:hover{
    background:var(--background-color);
    border-width:0 2px;
    border-color:var(--border-color);
    border-style:solid;
}

/* Logo config */
#common_navbar_logo{
    display:inline-block;
    height: 60px;
    width: auto;
    margin-left: auto;
}
#common_navbar_logo img{height: 100%;}


/*********************/
/* Footer definition */
/*********************/
footer{
    min-height:45px;
}

#common_footer{
    width:100%;
    background:var(--background-accent-color);
    height: 45px;
    position:absolute;
    bottom: 0;
    display:flex;
    border-color:var(--border-color);
    border-top-style:solid;
}
#common_footer_container{
    width:100%;
    margin:0px 20px;
    display:flex;
    align-items:center;
}
#common_footer_settings_button_div{
    margin-left:auto;
}
#common_footer_settings{
    display:block;
    position:absolute;
    bottom:100%;
    right:0;
    padding:5px;
    background:var(--background-accent-color);
    border-radius:3px 0 0 0;
    border-color:var(--border-color);
    border-style: solid none none solid;
    transition: 0.5s;
}
.common-footer-settings-open{transform:translateX(0)}
.common-footer-settings-closed{transform: translateX(100%);}

#common_footer a{
    color:var(--text-accent-color);
}
#common_footer_settings_button{
    background: var(--background-accent-color); 
    border-color: var(--text-accent-color);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    height:38px;
    width:39px;
    padding: 2px;
}
#common_footer_settings_button svg{width: 30px !important;height: 30px !important;}
#common_footer_settings_button path{stroke:var(--text-color) !important; stroke-width: 3px;}

