---
---

// Materials

.material_table{
    border-spacing: 15px 10px;
    border-collapse: collapse;
    border-style:dotted;
    border-color:var(--border-color);
    border-width:1px;
}

.material_table table,th,td{
    padding:15px 10px;
    border-collapse: separate;
    border-style:dotted;
    border-color:var(--border-color);
    border-width:1px;
    text-decoration:none;
}

.material_table th{
    border-bottom-width:3px;
    border-bottom-style:solid;
}

.table_cost{
    text-align:right;
}

.table_number{
    text-align:right;
}


// Tools

.tool_list{
    text-decoration:none;
}


// Instructions

.how_to_steps{
    padding:0 20px 20px 20px;
    list-style-type: decimal;
}

.how_to_step{ padding:10px; margin:10px; }

.how_to_step p { padding: 0; margin:0; }

.how_to_step_header{
    padding-left: 0px;
    margin:{
        left: 0px;
        top:5px;
        bottom:5px;
    }
}

.how_to_step_number{
    font-size:150%;
    border:{
        width:1px;
        style:solid;
        color:var(--border-color);
    }
    background-color:var(--background-accent-color);
    padding:5px;
}


.how_to_directions{
    list-style-type: upper-alpha;
    list-style-position: inside;
    padding:5px;
}

.how_to_directions li{
    padding:5px;
}
