<!-- Expressions are evaluated with range(n) requires math.js library-->

<div id='cartesian_input'>
	<!-- X input -->
	<div id='input_cartesian_x' class='input_group'>
		<div class='input_with_label'>
			<label for='input_cartesian_nx' class='input_label'>nx = range(</label>
			<input type='number' id='input_cartesian_nx' class='integer_input' min='1' placeholder='##'>)
		</div>
		<div class='input_with_label'>
			<label for='input_cartesian_x_expr' class='input_label'>x = </label>
			<input type='text' id='input_cartesian_x_expr' class='math_exp_input' placeholder='nx.*0.05/3'>
		</div>
	</div>
	<!-- Y input -->
	<div id='input_cartesian_y' class='input_group'>
		<div class='input_with_label'>
			<label for='input_cartesian_ny'>ny = range(</label>
			<input type='number' id='input_cartesian_ny' class='integer_input' min='1' placeholder='##'>)
		</div>
		<div class='input_with_label'>
			<label for='input_cartesian_y_expr'>y = </label>
			<input type='text' id='input_cartesian_y_expr' class='math_exp_input' placeholder='ny.*0.05/3'>
		</div>
	</div>
	<!-- Z input -->
	<div id='input_cartesian_z' class='input_group'>
		<div class='input_with_label'>
			<label for='input_cartesian_nz'>nz = range(</label>
			<input type='number' id='input_cartesian_nz' class='integer_input' min='1' placeholder='##'>)
		</div>
		<div class='input_with_label'>
			<label for='input_cartesian_z_expr'>z = </label>
			<input type='text' id='input_cartesian_z_expr' class='math_exp_input' placeholder='nz.*0.05/3'>
		</div>
	</div>
  </div>