<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial_scale=1, minimum-scale=1">

<meta name='description' content="{{ page.description }}">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/assets/favicon_32x32.png">

<!-- MetaData -->
{% include metadata/schema.html %}

<!-- Google Analytics -->
{% include analytics/google_analytics.html %}

<!-- Load in common elements -->
<link rel="stylesheet" type="text/css" href="/css/base.css">
<script type='module' src='/js/initialize_page.js' async></script>

<title>{{ page.title }} - WeissWorks</title>