<div id='common_footer'>

  <script>
    function toggleFooterSettings(){
      var footer_settings = document.querySelector('#common_footer_settings');
      footer_settings.classList.toggle('common-footer-settings-closed');
      var opened = footer_settings.classList.toggle('common-footer-settings-open');
      if(opened==true){
        addSettingsMenuCloseListener();
        console.log('Settings Close Listener added');
      }
    }
    // close menu listener
    function settingsMenuCloseListener(){
      if(!event.target.closest('#common_footer')){ //if outside the footer
          toggleFooterSettings(); // toggle the links
          document.getElementsByTagName('html')[0].removeEventListener('click',settingsMenuCloseListener);
      }
    }
    function addSettingsMenuCloseListener(){
      document.getElementsByTagName('html')[0].addEventListener('click',settingsMenuCloseListener);
    }
  </script>

  <div id='common_footer_container'>

    <!-- Copyright -->
    <div id='common_footer_copyright'>© 2020 Copyright |
      <a href="https://www.WeissWorks.dev/"> WeissWorks.dev</a>
    </div> <!-- Copyright -->

    <div id='common_footer_settings_button_div'>
      <button id="common_footer_settings_button" onclick="toggleFooterSettings()"  aria-controls="common_footer_settings" aria-expanded="false" aria-label="Toggle settings menu">
      {% include assets/settings_icon_optimized.svg %}
      </button>
    </div> <!-- Button div -->

    <div id='common_footer_settings' class='common-footer-settings-closed'>
      <!-- add our event listeners-->
      <script type='module'>
        import {themeEventListener} from '/js/modules/Theming.js';
        document.querySelector('#common_navbar_theme_selector').addEventListener('change',themeEventListener);
        import {languageFilterEventListener} from '/js/modules/LanguageFilter.js';
        document.querySelector('#language_filter_checkbox').addEventListener('change',languageFilterEventListener);
      </script>

      <!-- Settings for the theme -->
      {% include settings/theming.html %}
      <hr>

      {% include settings/language_filter.html %}

      <hr>

      {% include settings/transition.html %}


    </div>

  </div>

</div>