<div id='common_footer'>

  <script>
    $(function(){
      // load our navbar burger (svg so it can be edited)
      /*myxml = new XMLHttpRequest();
      myxml.addEventListener("load", 
        function(){
          document.querySelector('#common_footer_settings_button').innerHTML = this.responseText;
        });
      myxml.open("GET", '/imgs/settings_icon_optimized.svg');
      myxml.send();*/
      //$('#common_footer_settings_button').load('/imgs/settings_icon_optimized.svg');
    });
    function toggleFooterSettings(){
      var footer_settings = document.querySelector('#common_footer_settings');
      footer_settings.classList.toggle('common-footer-settings-closed');
      var opened = footer_settings.classList.toggle('common-footer-settings-open');
      if(opened==true){
        addSettingsMenuCloseListener();
        console.log('Settings Close Listener added');
      }
    }
    // close menu listener
    function settingsMenuCloseListener(){
      if(!event.target.closest('#common_footer')){ //if outside the footer
          toggleFooterSettings(); // toggle the links
          document.getElementsByTagName('html')[0].removeEventListener('click',settingsMenuCloseListener);
      }
    }
    function addSettingsMenuCloseListener(){
      document.getElementsByTagName('html')[0].addEventListener('click',settingsMenuCloseListener);
    }
  </script>

  <div id='common_footer_container'>

    <!-- Copyright -->
    <div id='common_footer_copyright'>© 2020 Copyright |
      <a href="https://www.WeissWorks.dev/"> WeissWorks.dev</a>
    </div>

    <div id='common_footer_settings_button_div'>
      <button id="common_footer_settings_button" onclick="toggleFooterSettings()"  aria-controls="common_footer_settings" aria-expanded="false" aria-label="Toggle settings menu">
      {% include assets/settings_icon_optimized.svg %}
      </button>
    </div>

    <div id='common_footer_settings' class='common-footer-settings-closed'>
      <!-- Settings for the theme -->
      <div id='common_footer_theme_setting'>
        Theme: <br>
        <select id='common_navbar_theme_selector' onchange="themeSelectHandler(this)">
          <option value='default'>System</option>
          <option value='light'>Light</option>
          <option value='dark'>Dark</option>
          <option value='matrix'>Matrix</option>
          <option value='contrast'>Contrast</option>
        </select>
        <script>
          // update the selector to the correct value
          var theme_value = document.querySelector('html').getAttribute('data-theme');
          document.getElementById('common_navbar_theme_selector').value = theme_value;
        </script>
      </div>
      <hr>
      <div id='language_filter_setting'>
        Language<br>Filter: <br>
        <div class='switch-container'>
          <label class="switch">
            <input id='language_filter_checkbox' type="checkbox" onchange='languageFilterHandler()'>
            <span class="slider"></span>
          </label>
        </div>
        <script>
          var lang_filt_state = document.querySelector('html').getAttribute('data-language-filter');
          document.getElementById('language_filter_checkbox').checked = lang_filt_state;
          languageFilterHandler();
        </script>
      </div>
    </div>

  </div>

</div>