<nav id="common_navbar">
  <script>
    // Toggle the links in the navbar
    function toggleNavbarLinks(){
      //move navigation links;
      var nav_links = document.querySelector('#common_navbar_links');
      nav_links.classList.toggle('common-navbar-links-closed');
      nav_links.classList.toggle('common-navbar-links-open');
      // move burger
      var burger = document.querySelector('#common_navbar_burger');
      burger.classList.toggle('common-navbar-burger-closed');
      var opened = burger.classList.toggle('common-navbar-burger-open');
      // add close listener
      if(opened==true){
        addNavbarMenuCloseListener();
        console.log('Menu Close Listener added');
      }
    }
    // close menu listener
    function navbarMenuCloseListener(){
      if(!event.target.closest('#common_navbar')){ //if outside the navbar
          toggleNavbarLinks(); // toggle the links
          document.getElementsByTagName('html')[0].removeEventListener('click',navbarMenuCloseListener);
      }
    }
    function addNavbarMenuCloseListener(){
      document.getElementsByTagName('html')[0].addEventListener('click',navbarMenuCloseListener);
    }
  </script>
  <div id='common_navbar_container'>
    <button id="common_navbar_burger" class="common-navbar-burger-closed" onclick="toggleNavbarLinks()"  aria-controls="common_navbar_links" aria-expanded="false" aria-label="Toggle navigation">
    {% include assets/waveform_burger_optimized.svg %}
    </button>
    
    <div id='common_navbar_logo'>
      <a href='/index.html'>
      <img src="/assets/weissworks_logo_optimized.svg" alt="WeissWorks Logo">
      </a>
    </div>

  </div>

  <div  id="common_navbar_links" class='common-navbar-links-closed'>
    <ul>
      <li><a class='common-navbar-link' href="{{ site.baseurl }}{% link index.md %}">Home </a></li>
      <li><a class='common-navbar-link' href="{{ site.baseurl }}{% link projects/index.md %}">Projects</a></li>
      <li><a class='common-navbar-link' href="{{ site.baseurl }}{% link blog/index.md %}">Blog</a></li>
      <li><a class='common-navbar-link' href="{{ site.baseurl }}{% link about.md %}">About</a></li>
      <li><a class='common-navbar-link' href="{{ site.baseurl }}{% link contact.md %}">Contact</a></li>
    </ul>
  </div>

</nav>