<style>
    #phone_number_container{display:inline-flex;} 
    .phone_section{display:inline-block;}
   </style>
   <!-- This is pretty mixed up... If you go through the trouble to scrape this
    You either built some nice software, or care way to much about my contact info -->
   <span id='phone_number_container'>
       <span class='phone_section' id='phone_sect_5' style='order:5;'>39</span>
       <span class='phone_section' id='phone_sect_2' style='order:2;'>2</span>
       <span class='phone_section' id='phone_sect_3' style='order:3;'>79</span>
       <span class='phone_section' id='phone_sect_1' style='order:1;'>0)-</span>
       <span class='phone_section' id='phone_sect_4' style='order:4;'>-33</span>
       <span class='phone_section' id='phone_sect_0' style='order:0;'>(97</span>
   </span>