/* Formatting for posts item links */ 

.post_item_list{
    display:flex;
    flex-wrap:nowrap;
    flex-shrink:0;
    height:200px;
    width:100vw;
    justify-content:left;
    align-items:center;
    overflow-x:scroll;
    overflow-y:hidden;
}


.post_item_list_shim{
    display:inline-block;
    height:100%;
    width:10%;
    min-width:10%;
}

/* Hide scrollbar for IE, Edge and Firefox */
.post_item_list{-ms-overflow-style: none;scrollbar-width: none;}
/* Hide scrollbar for Chrome, Safari and Opera */
.post_item_list::-webkit-scrollbar {display: none;}

.post_item_list::after {
        content: ""; // ::before and ::after both require content
        position: absolute;
        left:95%;
        width: 5%;
        height: 200px;
        background-image: linear-gradient(to right,transparent ,var(--background-color));
    }


.post_item{
    text-decoration:none;
    display:inline-flex;
    justify-content:center;
    height:150px;
    width:150px;
    min-width:150px;
    padding:5px;
    margin:10px;
    background: var(--background-accent-color);
    border:{
        width:3px;
        radius:10px;
        style:dotted;
        color:var(--border-color);
    }
    transition:.3s;
}

.post_item:hover{transform:scale(1.2);}

.post_item_title{text-align:center;}