/* Preferred Media color mode */
@media (prefers-color-scheme:dark) {
    :root{
        --text-color:var(--text-color-dark);
        --text-accent-color: var(--text-accent-color-dark);
        --background-color: var(--background-color-dark);
        --background-accent-color: var(--background-accent-color-dark);
        --border-color: var(--border-color-dark);
        --background-image: None;
    }
}

@media (prefers-color-scheme:light) {
    :root{
        --text-color:var(--text-color-light);
        --text-accent-color: var(--text-accent-color-light);
        --background-color: var(--background-color-light);
        --background-accent-color: var(--background-accent-color-light);
        --border-color: var(--border-color-light);
        --background-image: None;
    }
}

/* Here we have themes for overriding */
:root[data-theme='dark'] {
    --text-color:var(--text-color-dark);
    --text-accent-color: var(--text-accent-color-dark);
    --background-color: var(--background-color-dark);
    --background-accent-color: var(--background-accent-color-dark);
    --border-color: var(--border-color-dark);
  }

:root[data-theme='light'] {
    --text-color:var(--text-color-light);
    --text-accent-color: var(--text-accent-color-light);
    --background-color: var(--background-color-light);
    --background-accent-color: var(--background-accent-color-light);
    --border-color: var(--border-color-light);
}

:root[data-theme='matrix'] {
    --text-color:#00ff00;
    --text-accent-color: #009b00;
    --background-color: #000000;
    --background-accent-color: #030303;
    --border-color: #000099;
}

:root[data-theme='contrast'] {
    --text-color:#fff;
    --text-accent-color: #fae291;
    --background-color: #030303;
    --background-accent-color: #030303;
    --border-color: #5ecace;
}