<!-- Put all of the instructions defined in our YAML frontmatter -->

<div class='how_to_steps'>
{% for step in page.steps %}
<div class='how_to_step'>
    <h3 class='how_to_step_header'>
        <span class='how_to_step_number'>{{ forloop.index | plus:1 }}</span>
        {{ step.name }}
    </h3><hr>
    {% if step.text %}<p>{{ step.text }}</p>{% endif %}
    <ol class='how_to_directions'>
    {% for dir in step.directions %}
        <li> {{ dir.text }} </li>
    {% endfor %}
    </ol>
</div>
{% endfor %}
</ol>
