{% assign total_cost=0 %}
<table class='material_table'>
    <thead>
        <tr><th>Material</th><th>Qty.</th><th>Cost</th></tr>
    </thead>
    <tbody>
    {% for material in page.materials %}
        {% assign mat_name = material[0] %}
        {% assign mat_qty  = material[1] %}
        <tr>
            <td
            class='tooltip' data-tooltip-text='{{ site.data.materials[mat_name].description }}'>
            {{ site.data.materials[mat_name].name }}</td>
            <td class='table_number'>{{ mat_qty }}</td>
            <td class='table_cost'>${{ site.data.materials[mat_name].cost }}</td>
        </tr>
        {% assign total_cost= total_cost | plus:site.data.materials[mat_name].cost %}
    {% endfor %}
    <tr><td></td><td>Total = </td><td>${{ total_cost }}</td></tr>
    </tbody>
</table>

