<ul class='tool_list'>
    {% for tool in page.tools %}
        <li class='tooltip' data-tooltip-text='{{ site.data.tools[tool].description }}'>
            {{ site.data.tools[tool].name }}
        </li>
    {% endfor %}
</ul>

<!-- Schema.org -->
<script type="application/ld+json">
    {
      "tools": [
      {% for tool in page.tools %}
        {
        "@type": "HowToTool",
        "name": "{{ site.data.tools[tool].name }}",
        }{% if forloop.index != page.tools.size %},{% endif %}
      {% endfor %}
      ]
    }
</script>
