/* Our base color schemes (dark and light) */

:root{
    /* Default color scheme */
    --text-color-default: #000;
    --text-accent-color-default: #555;
    --background-color-default: #ddd;
    --background-accent-color-default: #aaa;
    
    /* Light mode mode */
    --text-color-light: #000;
    --text-accent-color-light: #555;
    --background-color-light: #fff;
    --background-accent-color-light: #aaa;

    /* Dark mode mode */
    --text-color-dark: #ddd;
    --text-accent-color-dark: #888;
    --background-color-dark: #000;
    --background-accent-color-dark: #555;

    /* Set to default olor mode */
    --text-color:var(--text-color-default);
    --text-accent-color: var(--text-accent-color-default);
    --background-color: var(--background-color-default);
    --background-accent-color: var(--background-accent-color-default);

}

/* Preferred Media color mode */
@media (prefers-color-scheme:dark) {
    :root{
        --text-color:var(--text-color-dark);
        --text-accent-color: var(--text-accent-color-dark);
        --background-color: var(--background-color-dark);
        --background-accent-color: var(--background-accent-color-dark);
    }
}

@media (prefers-color-scheme:light) {
    :root{
        --text-color:var(--text-color-light);
        --text-accent-color: var(--text-accent-color-light);
        --background-color: var(--background-color-light);
        --background-accent-color: var(--background-accent-color-light);
    }
}

/* Allow color mode override */
:root[data-theme='dark'] {
    --text-color:var(--text-color-dark);
    --text-accent-color: var(--text-accent-color-dark);
    --background-color: var(--background-color-dark);
    --background-accent-color: var(--background-accent-color-dark);
  }

:root[data-theme='light'] {
    --text-color:var(--text-color-light);
    --text-accent-color: var(--text-accent-color-light);
    --background-color: var(--background-color-light);
    --background-accent-color: var(--background-accent-color-light);
}

html{
    min-height: 100%;
}

body{
    background: var(--background-color);
    color: var(--text-color);
    margin: 0px;
}

div{
    display:inline-block;
}

/* Default buttons */
button{
    border-style:solid;
    border-radius: 3px;
    border-width: 1px;
}
button:hover{
    border-style:dotted;
}

select{
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 3px;
    border-color: var(--background-accent-color);
}

a{
    text-decoration: none;
}

/* Fit image height to parent container by default */
img{
    height:100%;
    width:auto;
}



