
/*********************/
/* Header definition */
/*********************/
/* Navbar parent div */
#common_navbar_placeholder{
    width: 100%;
    position:relative;
    background: var(--background-accent-color);
}
/* Navbar setup */
#common_navbar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto 20px;
    flex-direction: row;
}
/* Navbar Burger Setup. */
/* we use important to overwrite SVG styles */
#common_navbar_burger_div{margin: 10px 10px 10px 0;}
#common_navbar_burger{
    background: var(--background-accent-color); 
    border-color: var(--text-accent-color);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    height:42px;
    width:42px;
}
#common_navbar_burger svg{width: 30px !important;height: 30px !important;}
#common_navbar_burger g{stroke:var(--text-color) !important;}
#common_navbar_links{
    display:none;
    align-self:stretch;
    height:auto;
    color:var(--text-color);
    background:var(--background-accent-color);
}
#common_navbar_links ul{
    height:100%;
    padding:0;
    margin:0;
    position:relative;
    left:0;
    background:var(--background-accent-color);
}
#common_navbar_links li{
    padding:0 10px;
    height:100%;
    display:inline-flex;
    left:0;
    align-items:center;
}
/*
#common_navbar_links ul{
    height:100%;
    padding:0;
    margin:0;
    position:absolute;
    left:0;
    top:100%;
    background:var(--background-accent-color);
}
#common_navbar_links li{
    background:var(--background-accent-color);
    padding:0 10px;
    height:100%;
    display:flex;
    left:0;
    align-items:center;
}*/
#common_navbar_links li:hover{background:var(--background-color);}
#common_navbar_links a{color: var(--text-color);}

/* Logo config */
#common_navbar_logo{
    display:inline-block;
    height: 60px;
    width: auto;
    margin-left: auto;
}
#common_navbar_logo img{height: 100%; }

/*********************/
/* Footer definition */
/*********************/
#common_footer{
    width:100%;
    background:var(--background-accent-color);
    bottom: 0;
    position: fixed;
    height: 45px;
    display:flex;
}
#common_footer_div{
    width:100%;
    margin:0px 20px;
    display:flex;
    align-items:center;
}
#common_footer_settings_button_div{
    margin-left:auto;
}
#common_footer_settings{
    display:none;
    position:absolute;
    bottom:100%;
    right:0;
    background:var(--background-accent-color);
    border-radius:3px 0 0 0;
}
.common-footer-setting{
    padding:5px;
}
#common_footer a{
    color:var(--text-accent-color);
}
#common_footer_settings_button{
    background: var(--background-accent-color); 
    border-color: var(--text-accent-color);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    height:38px;
    width:39px;
    padding: 2px;
}
#common_footer_settings_button svg{width: 30px !important;height: 30px !important;}
#common_footer_settings_button path{stroke:var(--text-color) !important; stroke-width: 3px;}

