
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      {% if page.type %} "@type": "{{ page.type }}", {% endif %}
      {% if page.title %} "name": "{{ page.title }}", {% endif %}

      "author":[ {% for author in page.authors %}
         {
          "@type": "Person",
          {% if site.data.authors[author].name %}"name": "{{ site.data.authors[author].name }}",{% endif %}
          "alternateName": "{{ page.authors | last }}"
        }{% if forloop.index != page.authors.size %},{% endif %}
      {% endfor %}],

      {% for fm_schema in page.schema %}
      "{{ fm_schema[0] }}":"{{ fm_schema[1] }}",
      {% endfor %}

      {% if more_schema %}
      {{ more_schema }}
      {% endif %}

      {% if page.description %}"description": "{{ page.description }}",{% endif %}
      "datePublished": "{{ page.date | date: "%Y-%m-%d" }}"

    }
</script>