<div id='language_filter_setting'>
    Language<br>Filter: <br>
    <div class='switch-container'>
      <label class="switch">
        <input id='language_filter_checkbox' type="checkbox" >
        <span class="slider"></span>
      </label>
    </div>
    <script type='module'>
      //import module
      import {set_language_filter,languageFilterEventListener} from '/js/modules/LanguageFilter.js'
      //add the event listener
      var lang_filt_state_elem = document.querySelector('#language_filter_checkbox');
      lang_filt_state_elem.addEventListener('change',function(){languageFilterEventListener(this);});
      //init the box value
      var lang_filt_state = (document.querySelector('html').getAttribute('data-language-filter')=='true');
      document.querySelector('#language_filter_checkbox').checked = lang_filt_state;
      //now filter if we are set already
      set_language_filter(lang_filt_state);
    </script>
  </div>