<!doctype html>
<html lang="en" data-theme='default' data-language-filter='false'>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial_scale=1, minimum-scale=1">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/favicon_32x32.png">

    <!-- MetaData -->
    {% include metadata/schema.html %}

    <!-- Google Analytics -->
    {% include analytics/google_analytics.html %}
 
    <!-- Load in common elements -->
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <script src='/js/initialize_page.js'></script>

    <title>WeissWorks: {{ page.title }}</title>

  </head>
  
  <body><div id=body_div style='overflow-x:hidden'>
    
    <!-- Autofilled header -->
    <header>
      {% include nav.html %} 
    </header>
    
    <!-- Main Page Content -->
    <main role="main">
      {{ content }}
    </main>

    <!-- Autofilled footer -->
    <footer>
    {% include footer.html %} 
    </footer>

  </div></body>

</html>