<!doctype html>
<html lang="en" data-theme='default'>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
    <!-- Load in common elements -->
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src='/js/common_functs.js'></script>
    <script src='/js/initialize_page.js'></script>

    <title>WeissWorks: {{ page.title }}</title>

  </head>
  
  <body>
    
    <!-- Autofilled header -->
    <header>
      {% include nav.html %} 
    </header>
    
    <!-- Main Page Content -->
    <main role="main">
      {{ content }}
    </main>

    <!-- Autofilled footer -->
    <footer>
    {% include footer.html %} 
    </footer>

  </body>

</html>