<!doctype html>
<html lang="en">
  <head>

    <!-- Other MetaData -->
    <!--script type="application/ld+json">{"@type":"HowTo"}</script-->

    {% include how_to/tool_list_metadata.html %}
    {% include how_to/material_list_metadata.html %}
    {% include how_to/instructions_metadata.html %}

    {% include common_head.html %}

    <!-- Specific CSS -->
    <link rel="stylesheet" type="text/css" href="/css/how_to.css">


  </head>
  
  <body  style='visibility:hidden;'><div id=body_div style='overflow-x:hidden'>
    
    <!-- Autofilled header -->
    <header>
      {% include nav.html %} 
    </header>


    <!-- Main Page Content (e.g. intro) -->
    <main role="main">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>

    <hr>

    <!-- Tool List -->
    <div id='tool_list' class='par_form'>
      <h2>Tools</h2>
      {% include how_to/tool_list.html %}
    </div><!-- End Tool List -->

    <hr>

    <!-- Material List -->
    <div id='material_list' class='par_form'>
      <h2>Materials</h2>
      {% include how_to/material_list.html %}
    </div><!-- End Material List -->

    <hr>
    
    <!-- Downloads-->
    {% if page.downloads %}
    <div id='downloads' class='par_form how_to_downloads'>
      <h2>Downloads</h2>
      {% include how_to/downloads.html %}
    </div> <!-- End Downloads-->
    <hr>
    {% endif %}

    {% if page.cad-model %}
    <div class='par form cad_model' data-stl-src='{{ page.cad-model.path }}' 
      data-stl-color='{{ page.cad-model.color }}' style='width:100%;height:300px;'></div>
    <script type='module'>
    import {STLViewerEnable} from '/js/modules/STLViewer.js';
    STLViewerEnable('cad_model');
    </script>
    {% endif %}

    <!-- Instructions -->
    <div id='instructions' class='par_form'>
      <h2>Instructions</h2>
      {% include how_to/instructions.html %}
    </div><!-- End Instructions -->

    <hr>

    {% if page.endmatter %}
    <div id='endmatter'>
      <p>{{ page.endmatter }}</p>
    </div>
    {% endif %}

    <!-- Autofilled footer -->
    <footer>
    {% include footer.html %} 
    </footer>

  </div></body>

</html>