<!doctype html>
<html lang="en">
  <head>

    <!-- Other MetaData -->
    <!--script type="application/ld+json">{"@type":"HowTo"}</script-->

    {% include how_to/tool_list_metadata.html %}
    {% include how_to/material_list_metadata.html %}
    {% include how_to/instructions_metadata.html %}

    {% include common_head.html %}

    <!-- Specific CSS -->
    <link rel="stylesheet" type="text/css" href="/css/how_to.css">


  </head>
  
  <body><div id=body_div style='overflow-x:hidden'>
    
    <!-- Autofilled header -->
    <header>
      {% include nav.html %} 
    </header>


    <!-- Main Page Content (e.g. intro) -->
    <main role="main">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>

    <!-- Tool List -->
    <h2>Tools</h2>
    <div class='par_form'>
      {% include how_to/tool_list.html %}
    </div>

    <!-- Material List -->
    <h2>Materials</h2>
    <div class='par_form'>
      {% include how_to/material_list.html %}
    </div>
    
    <h2>Instructions</h2>
    <div class='par_form'>
      {% include how_to/instructions.html %}
    </div>

    <!-- Autofilled footer -->
    <footer>
    {% include footer.html %} 
    </footer>

  </div></body>

</html>